<div class="skillsmates-page-wrapper">
  <div class="row" style="margin-left: 50px; padding-bottom: 50px;">
    <div class="col-2 no-margin-padding" style="text-align: right;">
      <img height="200%" src="./assets/images/logo-skillsmates.svg" alt="Skillsmates logo">
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="font-size: 42px; font-weight: bolder; margin: 40px 0 30px 50px; color: #16162d;">
      Oups, désolé !
    </div>
    <div class="col-12" style="font-size: x-large; margin: 10px 0 50px 50px; color: #16162d; line-height: 1em;">
      La plateforme est en cours <br> de maintenance. Veuillez <br> réessayer plus tard svp.
    </div>
  </div>

  <div class="row" style="margin: 60px 0 50px 50px; color: #16162d;">
    <div class="col-7" style="font-size: small;">
      <span><a href="#" style="color: #16162d;">A PROPOS</a></span> -
      <span><a href="#" style="color: #16162d;">AIDE</a></span> -
      <span><a href="#" style="color: #16162d;">POLITIQUE DE CONFIDENTIALITE</a></span> -
      <span><a href="#" style="color: #16162d;">CONDITIONS D'UTILISATION</a></span>
    </div>
    <div class="col-5">
      <div class="">
        <a class="logo">
          <img src="./assets/images/symbole-skills-mates.svg" height="35" alt="" > <span style="font-weight: bold;">© Skills Mates 2020 </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="interactions" style="position: relative; padding-top: 70px;">
  <img style="float: right;" width="55%" class="interactions" src="./assets/images/illustration-maj.svg"  alt="illustration">
</div>
