/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  height: 100%;
}
body {
  /*font-family: 'Rubik', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  color: #666;
  background-color: #fafafa;
  overflow-x: hidden;
  height: 100%;
}

.skillsmates-container{
  width: 1024px;
  margin: auto;
}

.no-margin-padding{
  margin: 0;
  padding: 0;
}

.skillsmates-title{
  color: #16162d;
  font-weight: bold;
  font-size: 42px;
}

.skillsmates-subtitle{
  color: #16162d;
  font-size: large;
}

.skillsmates-slogan{
  color: #16162d;
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 30px;
}

.bg-login{
  padding-left: 100px;
}

.skillsmates-page-wrapper {
  width: 1000px;
  min-width: 600px;
  margin: auto;
  padding-top: 6%;
  padding-bottom: 20px;
}

.sm-border-radius{
  border-radius: 6px;
}

#login-page{
  color: #16162d;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

